@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: url('img/map.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: rgb(255, 255, 255);
  gap: 32px;
}

.title {
  grid-column: 4 span;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  text-shadow: 0.1em 0.1em 0.2em rgb(31, 1, 46)
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.value {
  font-size: 80px;
  font-weight: 700;
  text-shadow: 0.1em 0.1em 0.1em rgb(31, 1, 46)
}

.name {
  font-size: 22px;
  text-shadow: 0.1em 0.1em 0.1em rgb(31, 1, 46)
}